<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/insert_teacher">
  <table width="200" border="1">
    <tr>
      <th scope="row">First Name </th>
      <td><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Last Name  </th>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td><p>
        <label>
          <input type="radio" name="RadioGroup1" value="Male" />
          Male</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="Female" />
          Female</label>
        <br />
      </p></td>
    </tr>
    <tr>
      <th scope="row">D.O.B</th>
      <td><label>
        <input type="date" name="textfield8" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Qualification</th>
      <td><label>
        <input type="text" name="textfield4" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><label>
        <input type="text" name="textfield7" />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td><label>
        <div align="center"></div>
        <div align="center">
          <input type="text" name="textfield3" />
        </div>
      </label></td>
    </tr>
    <tr>
      <th scope="row">User Name </th>
      <td><label>
        <div align="center">
          <input type="text" name="textfield5" />
        </div>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td><label>
        <input type="password" name="textfield6" />
      </label></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Register" />
      </label></th>
    </tr>
  </table>
</form>
</body>
</html>
