<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><p><a href="/approve_parent">Approve Parent</a></p>
    <p><a href="/view_parent">View Parent</a></p>
    <p><a href="/complants_and_reply">View Complaint And Reply</a></p>
    <p><a href="/allocate_students">Allocate Students To Teachers</a></p>
    <p><a href="/view_rating">View Rating</a></p>
    <p><a href="/add_teacher">Add Teacher</a></p>
    <p><a href="/manage_teachers">Manage Teacher</a></p>
    <p><a href="/">Logout</a></p></th>
  </tr>
</table>
</body>
</html>
