<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Gender</th>
    <th scope="col">DOB</th>
    <th scope="col">Qualification</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">&nbsp;</th>
  </tr>
  {% for i in val %}
  <tr>
    <td>{{i[1]}} {{i[2]}}</td>
    <td>{{i[3]}}</td>
    <td>{{i[7]}}&nbsp;</td>
    <td>{{i[8]}}&nbsp;</td>
    <td>{{i[4]}}&nbsp;</td>
    <td>{{i[5]}}&nbsp;</td>
    <td><p><a href="/edit_teacher?id={{i[6]}}">Edit</a></p>
    <p><a href="/delete_teacher?id={{i[6]}}">Delete</a></p></td>
  </tr>
  {% endfor %}
</table>
</body>
</html>
